<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Staging</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfab8b">  <td>18/11/22 15:43:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;EmsRTA.beforeTest()[pri:0, instance:ae.isoft.ems.EmsRTA@4671e53b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="bfab8b">  <td>18/11/22 15:44:23</td>   <td>58303</td> <td>&nbsp;</td><td title="&gt;&gt;EmsRTA.beforeTest()[pri:0, instance:ae.isoft.ems.EmsRTA@7e0e6aa2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="bfab8b">  <td>18/11/22 15:43:31</td>   <td>6602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmsRTA.invokeBrowser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ae.isoft.ems.EmsRTA@4671e53b]">invokeBrowser</td> 
  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="bfab8b">  <td>18/11/22 15:44:28</td>   <td>63209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmsRTA.invokeBrowser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ae.isoft.ems.EmsRTA@7e0e6aa2]">invokeBrowser</td> 
  <td>main@1291113768</td>   <td></td> </tr>
</table>
