<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1a8d5">  <td>18/11/14 08:47:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;EmsRTA.beforeTest()[pri:0, instance:ae.isoft.ems.EmsRTA@4a87761d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1205555397</td>   <td></td> </tr>
<tr bgcolor="a1a8d5">  <td>18/11/14 08:47:29</td>   <td>5785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmsRTA.invokeBrowser()[pri:0, instance:ae.isoft.ems.EmsRTA@4a87761d]">invokeBrowser</td> 
  <td>main@1205555397</td>   <td></td> </tr>
</table>
