<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/03/01 12:07:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;EmsRTA.beforeTest()[pri:0, instance:ems.EmsRTA@343f4d3d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/01 12:07:09</td>   <td>117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmsRTA.f()[pri:0, instance:ems.EmsRTA@343f4d3d]">f</td> 
  <td>main@343965883</td>   <td></td> </tr>
</table>
